<div class="row">
    <div class="col">
          <div class="jumbotron" id="contentArea">
            <div id="content">
              <img src="/img/mypicture.jpg" alt="dhruv" height="300" width="210"/>
              <h1 class="display-4">Interesting Stuff about me...</h1>

              
              <p>Dhruv vyas is currently working as a freelance marketing director and is always interested in a challenge.Reach out to Dhruv@gmail.com.</p>
            </div>

          </div>
    </div>
</div>